@import url("tablet-screen.css") screen and (min-width: 601px) and (max-width: 1000px);
@import url("footer.css");

/* the sizes here are for phone screen*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


h1,
h2,
h3 {
    font-weight: 700;
    color: blue;
}


.header {
    grid-area: header;
    text-align: center;
    line-height: 2.5em;
}


.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*   min-height: 50vh; */
}


.nav {
    grid-area: nav;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    line-height: 2.5em;
}


.footer {
    grid-area: footer;
}

/*giving the conatiner of the body content a grid layout + other attributes*/
.container {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 6%;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"
    ;
    gap: 10px;
    background-color: rgb(226, 226, 226);
}


#c1 {
    color: black;
    background-color: rgb(246, 201, 142);
    border-radius: 20px;
    padding: 10px;
}


#c1 img {
    width: 100%;
    border-radius: 6px;
}


#c1 button {
    border-radius: 6px;
    background-color: rgb(242, 170, 76);
    font-size: larger;
}


#c2 {
    color: black;
    background-color: rgb(242, 224, 203);
    border-radius: 20px;
    padding: 10px;

}


#c2 button {
    border-radius: 6px;
    background-color: rgb(242, 170, 76);
    font-size: larger;
}


#c2 img {
    width: 100%;
    border-radius: 6px;
}


#c3 {
    color: black;
    background-color: rgb(246, 201, 142);
    border-radius: 20px;
    padding: 10px;
}


#c3 img {
    width: 100%;
    border-radius: 6px;
}


#c3 button {
    border-radius: 6px;
    background-color: rgb(242, 170, 76);
    font-size: larger;
}



nav a {
    color: rgb(189, 141, 20);
}


nav button {
    font-size: x-large;
    font-weight: 710;
    border-radius: 5px;
    color: rgb(126, 94, 13);
}


button:hover {
    cursor: pointer;
    box-shadow: 5px 10px 18px #888;
    color: cadetblue;

}


.card {
    margin: 10px;
}


.card:hover {
    box-shadow: 5px 10px 18px #888;
}


a:hover {
    color: green;
}


.card button {
    color: rgb(139, 21, 21);
}


h2 {
    color: blue;
}

/* laptop screen size*/
@media(min-width:1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr;
        grid-template-areas:
            "header header header"
            "nav main main"
            "nav main main"
            "footer footer footer";
        border: 2px solid;
    }

    h1 {
        text-align: left;
        margin: 20px;
    }


    .main {
        grid-area: main;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        /*   min-height: 50vh; */
    }


    .card {
        margin: 10px;
        width: 40%;
        min-height: 50%;
    }


    .card:hover {
        /*  box-shadow: 5px 10px #888888;  */
        box-shadow: 5px 10px 18px #888;
    }



    #c3 {
        color: black;
        background-color: rgb(246, 201, 142);
        border-radius: 20px;
        padding: 10px;
    }


    #c3 img {
        width: 100%;
        border-radius: 6px;
    }


    #c3 button {
        border-radius: 6px;
        background-color: rgb(242, 170, 76);
        font-size: larger;
    }



    nav a {
        color: rgb(189, 141, 20);
    }


    nav button {
        font-size: x-large;
        font-weight: 710;
        border-radius: 5px;
        color: rgb(126, 94, 13);
    }


    button:hover {
        cursor: pointer;
    }


    .card button {
        color: rgb(139, 21, 21);
    }


    .container {
        border: 2px solid rgb(244, 244, 225);
    }

    footer ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    footer li {
        margin: 5px;

    }

    footer img {
        width: 70px;
    }



}